body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    border: 1px solid #000;
    height: 325px;
    width: 325px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
}

.container .number {

    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;

}
.container .number1{transform: rotate(30deg);}
.container .number2{transform: rotate(60deg);}
.container .number3{transform: rotate(90deg);}
.container .number4{transform: rotate(120deg);}
.container .number5{transform: rotate(150deg);}
.container .number6{transform: rotate(180deg)}
.container .number7{transform: rotate(210deg);}
.container .number8{transform: rotate(240deg);}
.container .number9{transform: rotate(270deg);}
.container .number10{transform: rotate(300deg);}
.container .number11{transform: rotate(330deg)}
.container .number12{transform: rotate(0deg);}

.container .hand{
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border: 1px solid white;
    text-align: center;
    z-index: 10;
    background-color:black;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
    transform-origin:bottom ;
    border-radius: 25px;
}
.container::after{
    content: '';
    position: absolute;
    background-color: #000;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.container .hand.sec{
    height: 45%;
    width: 3px;
    background-color: red;
}
.container .hand.min{
    height: 40%;
    width: 7px;
    background-color: black;
}
.container .hand.hour{
    height: 35%;
    width: 10px;
    background-color: #000;
}